NEXT_PUBLIC_SUPABASE_URL=your-project-url.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

NEXT_PUBLIC_CRM_API_URL="enter route here"

const TENANT_ID = 'enter_tenent_id_here';
const CLIENT_ID = 'enter_id_here';
const CLIENT_SECRET = 'enter_secret_here';
const SENDER_EMAIL = 'enter_here';
