# Handle line endings automatically for files detected as text
# and perform LF -> CRLF on checkout for Windows users.
* text=auto

# Explicitly declare text files you want to always be LF or CRLF
# *.js text eol=lf
# *.ts text eol=lf
# *.tsx text eol=lf
# *.css text eol=lf
# *.json text eol=lf
# *.sql text eol=lf
# *.md text eol=lf
# *.gitignore text eol=lf
